<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{title}} | UrbanQuest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  {{> header}}

  <main class="container">
    {{> flash}}
    {{{body}}}
  </main>

  {{> footer}}

  <script src="/js/app.js"></script>
</body>
</html>
